name: build-and-publish-mod
run-name: Build and Publish Mod
on:
  workflow_call:
    inputs:
      project-subpath:
        required: true
        type: string
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: "zulu"
          java-version: 21
      - name: Make Gradle wrapper executable
        run: chmod +x ./gradlew
        working-directory: ${{ inputs.project-subpath }}
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
      - name: Build with Gradle
        run: ./gradlew build
        working-directory: ${{ inputs.project-subpath }}
      - uses: Kir-Antipov/mc-publish@v3.3
        with:
          modrinth-id: ${{ vars.MODRINTH_ID }}
          modrinth-token: ${{ secrets.MODRINTH_TOKEN }}
          files: |
            ${{ inputs.project-subpath }}/build/libs/!(*-@(dev|sources|javadoc)).jar
            ${{ inputs.project-subpath }}/build/libs/*-@(dev|sources|javadoc).jar
